
.outer-container {
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center; 
    padding-top:50px;
}





.details {
    display:flex;
    height:50px;
    justify-items: center;
    align-items: center;
}


/* 
li {
    margin: 10px;
    padding:5px;
    width: 100px;
    word-break: break-all;
} */


hr {
    min-width: 100%;
}