#root {
  position: relative;
  margin: 0px;
  min-height: 100svh;
  max-width: 100%;
  display:flex;
  flex-direction:column;
  align-items:center;
  font-family: Arial, Helvetica, sans-serif;
}

#root > div  {
  width:80%;
}

.part {
  position: relative;
}

.details-component-list-item {
  position: relative;
}

.details-component-textarea {
  width:95%;    
}

.details-component-remove-button {
  margin-bottom:10px;
}


.remove-section-button {
  position: absolute;
  top:0px;
  right:0px;
  transform: translateX(150%);
  appearance: none;
  border: 0;
  font-weight:bold;
  font-size:20px;
  background-color: white;
  padding:10px;
  border-radius: 10px;

}

.remove-section-button:hover {
  background-color: black;
  color:white;
}

